.navbar {
  /* background-color: rgb(24, 144, 255); */
  background-color: #191919;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
}

.navbar h2{
  display: inline-block;
  margin-left: 30px;
  margin-top: 21px;
  color: #f2f2f2;
  cursor: pointer;
}

.navbar a {
  display: block;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 23.9px 15px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar a:hover {
  background: white;
  color: black;
}

.alignRight {
  margin-left: auto;
}

.home-page {
  text-align: center;
  height: calc(100vh);
  background-size: cover;
  background-image: url("./media/dark_tech.png");
}

.middle-object {
  padding-top: 20vh;
  color: white;
}

.middle-object h1 {
  font-size: 40px;
  color: white;
  margin-top: 20px;
}

.middle-object {
  padding-top: 15vh;
  color: white;
}

.middle-object h1 {
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

.center {
  margin: auto; 
  width: 60%;
}

table {
  background-color: lightblue;
  opacity: 0.9;
  color: black;
  font-weight: bold;
}

.about-page {
  text-align: center;
  background-position: center top;
  height: 100vh;
  background-image: url("./media/abstract-city.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.left-half {
  float: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 100%;
  width: 60%;
  min-width: 720px;
}

.about-text {
  width: 70%;
  margin: auto;
}

.about-me {
   font-size: 45px;
   margin-top: 80px;
   color: white;
}

.line {
  border-color: white;
  border-width: 3px;
  width: 50px;
  border-top: 0px solid #eee;
}

.description {
  margin: 30px 0px 30px 0px;
  font-size: 26px;
  overflow: scroll;
}

.stats-page {
  height: 95vh;
  background-color: black;
}

.text-center {
  text-align: center;
  font-size: 30px;
  color: white;
  padding-top: 50px;
}

